media-functions-for-logic-app/logicapp4-liveanalytics-deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "LiveAnalyticsDemo-TextFaceMotion",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "functionsAppResourceGroup": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of resource group used by the functions app already deployed."
      }
    },
    "functionsAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the functions app already deployed."
      }
    },
    "RecurrenceFrequency": {
      "type": "string",
      "defaultValue": "Second"
    },
    "RecurrenceInterval": {
      "type": "int",
      "defaultValue": 60
    },
    "cosmosdb": {
      "type": "string",
      "defaultValue": "cosmosdb"
    },
    "cosmosDatabaseAccount": {
      "type": "string"
    },
    "cosmosDatabase": {
      "type": "string"
    },
    "cosmosCollectionId": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('cosmosdb'))]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('RecurrenceFrequency')]",
                "interval": "[parameters('RecurrenceInterval')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Create_or_update_document_FaceRedaction": {
                  "runAfter": {
                    "return-analytics": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "channelName": "@{body('live-subclip-analytics')['channelName']}",
                      "id": "@{body('live-subclip-analytics')['triggerStart']}_@{body('live-subclip-analytics')['channelName']}_@{body('live-subclip-analytics')['programName']}",
                      "jobEndTime": "@{body('check-job-status')['endTime']}",
                      "jobId": "@{body('live-subclip-analytics')['jobId']}",
                      "jobRunningDuration": "@{body('check-job-status')['runningDuration']}",
                      "jobStartTime": "@{body('check-job-status')['startTime']}",
                      "jobextendedinfo": "@json(body('check-job-status')['extendedInfo'])",
                      "jpgFaces": "@json(body('return-analytics')['faceRedaction']['jpgFaces'])",
                      "jsonDocument": "@json(body('return-analytics')['faceRedaction']['json'])",
                      "jsonDocumentOffset": "@json(body('return-analytics')['faceRedaction']['jsonOffset'])",
                      "processor": "FaceRedaction",
                      "programName": "@{body('live-subclip-analytics')['programName']}",
                      "programUrl": "@{body('live-subclip-analytics')['programUrl']}",
                      "subclipduration": "@{body('live-subclip-analytics')['subclip']['duration']}",
                      "subclipstart": "@{body('live-subclip-analytics')['subclip']['start']}",
                      "taskEndTime": "@{body('check-job-status')['endTime']}",
                      "triggerStart": "@{body('live-subclip-analytics')['triggerStart']}"
                    },
                    "headers": {
                      "x-ms-documentdb-partitionkey": "FaceRedaction"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('livettml')}/colls/@{encodeURIComponent('analytics')}/docs"
                  }
                },
                "Create_or_update_document_Indexer": {
                  "runAfter": {
                    "return-subtitles": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "channelName": "@{body('live-subclip-analytics')['channelName']}",
                      "id": "@{body('live-subclip-analytics')['triggerStart']}_@{body('live-subclip-analytics')['channelName']}_@{body('live-subclip-analytics')['programName']}",
                      "indexerLanguage": "@{body('live-subclip-analytics')['indexV2']['language']}",
                      "jobId": "@{body('live-subclip-analytics')['jobId']}",
                      "processor": "Indexer",
                      "programName": "@{body('live-subclip-analytics')['programName']}",
                      "programUrl": "@{body('live-subclip-analytics')['programUrl']}",
                      "subclipduration": "@{body('live-subclip-analytics')['subclip']['duration']}",
                      "subclipstart": "@{body('live-subclip-analytics')['subclip']['start']}",
                      "taskId": "@{body('live-subclip-analytics')['indexV2']['taskId']}",
                      "triggerStart": "@{body('live-subclip-analytics')['triggerStart']}",
                      "ttmlDocument": "@{body('return-subtitles')['ttmlDocument']}",
                      "ttmlDocumentJsonOffset": "@json(xml(body('return-subtitles')['ttmlDocumentWithOffset']))",
                      "ttmlDocumentOffset": "@{body('return-subtitles')['ttmlDocumentWithOffset']}",
                      "vttDocument": "@{body('return-subtitles')['vttDocument']}",
                      "vttDocumentOffset": "@{body('return-subtitles')['vttDocumentWithOffset']}"
                    },
                    "headers": {
                      "x-ms-consistency-level": "Session",
                      "x-ms-documentdb-partitionkey": "Indexer"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('livettml')}/colls/@{encodeURIComponent('analytics')}/docs"
                  }
                },
                "Create_or_update_document_MotionDetection": {
                  "runAfter": {
                    "Create_or_update_document_FaceRedaction": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "channelName": "@{body('live-subclip-analytics')['channelName']}",
                      "id": "@{body('live-subclip-analytics')['triggerStart']}_@{body('live-subclip-analytics')['channelName']}_@{body('live-subclip-analytics')['programName']}",
                      "jobEndTime": "@{body('check-job-status')['endTime']}",
                      "jobId": "@{body('live-subclip-analytics')['jobId']}",
                      "jobRunningDuration": "@{body('check-job-status')['runningDuration']}",
                      "jobStartTime": "@{body('check-job-status')['startTime']}",
                      "jobextendedinfo": "@json(body('check-job-status')['extendedInfo'])",
                      "jsonDocument": "@json(body('return-analytics')['motionDetection']['json'])",
                      "jsonDocumentOffset": "@json(body('return-analytics')['motionDetection']['jsonOffset'])",
                      "processor": "MotionDetection",
                      "programName": "@{body('live-subclip-analytics')['programName']}",
                      "programUrl": "@{body('live-subclip-analytics')['programUrl']}",
                      "subclipduration": "@{body('live-subclip-analytics')['subclip']['duration']}",
                      "subclipstart": "@{body('live-subclip-analytics')['subclip']['start']}",
                      "taskEndTime": "@{body('check-job-status')['endTime']}",
                      "triggerStart": "@{body('live-subclip-analytics')['triggerStart']}"
                    },
                    "headers": {
                      "x-ms-documentdb-partitionkey": "MotionDetection"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('livettml')}/colls/@{encodeURIComponent('analytics')}/docs"
                  }
                },
                "delete-entity": {
                  "runAfter": {
                    "Create_or_update_document_MotionDetection": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "jobId": "@{body('live-subclip-analytics')['jobId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/delete-entity')]"
                    }
                  }
                },
                "publish-asset": {
                  "runAfter": {
                    "Create_or_update_document_Indexer": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('live-subclip-analytics')['faceRedaction']['assetId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/publish-asset')]"
                    }
                  }
                },
                "return-analytics": {
                  "runAfter": {
                    "publish-asset": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "faceRedaction": { "assetId": "@{body('live-subclip-analytics')['faceRedaction']['assetId']}"},
                      "motionDetection": { "assetId":  "@{body('live-subclip-analytics')['motionDetection']['assetId']}"},
                      "timeOffset": "@{body('live-subclip-analytics')['subclip']['start']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/return-analytics')]"
                    }
                  }
                },
                "return-subtitles": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "assetId": "@{body('live-subclip-analytics')['indexV2']['assetId']}",
                      "deleteAsset": true,
                      "timeOffset": "@{body('live-subclip-analytics')['subclip']['start']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/return-subtitles')]"
                    }
                  }
                }
              },
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_or_update_document_Error": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "channelname": "@{body('live-subclip-analytics')['channelName']}",
                        "id": "@{body('live-subclip-analytics')['triggerStart']}-@{body('live-subclip-analytics')['channelName']}-@{body('live-subclip-analytics')['programName']}",
                        "indexerLanguage": "@{body('live-subclip-analytics')['indexV2']['language']}",
                        "jobEndTime": "@{body('check-job-status')['endTime']}",
                        "jobErrorText": "@{body('check-job-status')['errorText']}",
                        "jobId": "@{body('live-subclip-analytics')['jobId']}",
                        "jobRunningDuration": "@{body('check-job-status')['runningDuration']}",
                        "jobStartTime": "@{body('check-job-status')['startTime']}",
                        "jobextendedinfo": "@json(body('check-job-status')['extendedInfo'])",
                        "processor": "Indexer",
                        "programUrl": "@{body('live-subclip-analytics')['programUrl']}",
                        "programname": "@{body('live-subclip-analytics')['programName']}",
                        "subclipduration": "@{body('live-subclip-analytics')['subclip']['duration']}",
                        "subclipstart": "@{body('live-subclip-analytics')['subclip']['start']}",
                        "taskId": "@{body('live-subclip-analytics')['indexV2']['taskId']}",
                        "triggerStart": "@{body('live-subclip-analytics')['triggerStart']}"
                      },
                      "headers": {
                        "x-ms-documentdb-partitionkey": "Indexer"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/dbs/@{encodeURIComponent('livettml')}/colls/@{encodeURIComponent('analytics')}/docs"
                    }
                  },
                  "Terminate": {
                    "runAfter": {
                      "Create_or_update_document_Error": [
                        "Succeeded"
                      ]
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runError": {
                        "message": "Task failed."
                      },
                      "runStatus": "Failed"
                    }
                  }
                }
              },
              "expression": "@equals(body('check-job-status')['isSuccessful'], string(True))",
              "type": "If"
            },
            "Until": {
              "actions": {
                "check-job-status": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "extendedInfo": true,
                      "jobId": "@{body('live-subclip-analytics')['jobId']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/check-job-status')]"
                    }
                  }
                }
              },
              "runAfter": {
                "live-subclip-analytics": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(body('check-job-status')['isRunning'], string(False))",
              "limit": {
                "count": 600,
                "timeout": "PT1H"
              },
              "type": "Until"
            },
            "live-subclip-analytics": {
              "runAfter": {},
              "type": "Function",
              "inputs": {
                "body": {
                  "channelName": "Channel1",
                  "faceRedaction": { "mode": "analyze" },
                  "indexV2": { "language": "EnUs" },
                  "motionDetection": { "level": "medium" },
                  "intervalSec": 60,
                  "programName": "P1"
                },
                "function": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/', parameters('functionsAppResourceGroup'),'/providers/Microsoft.Web/sites/', parameters('functionsAppName'),'/functions/live-subclip-analytics')]"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('cosmosdb'))]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('cosmosdb')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/documentdb')]"
        },
        "displayName": "documentdb",
        "parameterValues": {
          "databaseAccount": "[parameters('cosmosDatabaseAccount')]",
          "accessKey": "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDatabaseAccount')), '2015-04-08').primaryMasterKey]"

        }
      }
    }
  ],
  "outputs": {}
}
